{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<section class="about">
    <div class="video-bg">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'videos/about.mp4' %}" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="content">
            <h1>About the Tracker 🌿 </h1>
            <p>This Website helps users build a balanced lifestyle by tracking diet, fitness, and daily reflections.</p>
        </div>
    </div>
</section>
{% endblock %}
