{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/journal/journal.css' %}">
{% endblock %}

{% block body_class %}journal-page{% endblock %}

{% block content %}
<!-- ===== Image Background ===== -->
<div class="bg-image">
  <img src="{% static 'images/journal-bg.avif' %}" alt="Background">
  <div class="overlay"></div>
</div>
<div class="journal-wrapper">
  <div class="glass-card">
    <h2 class="journal-header">{{ title }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="add-journal-btn">💾 Save Changes</button>
    </form>
    <div class="add-journal-container">
        <a href="{% url 'journal_log' %}" class="cancel-btn">Back to Journals</a>
    </div>
  </div>
</div>
{% endblock %}
